<div id="wrapper" class="animate">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    Admin
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['../costcentre']">Cost Centre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Department</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Position</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Employee</a>
      </li>
    
    </ul>
  </div>

</nav>
</div>